<div class="iti-horizontal-timeline" style="overflow: hidden; padding-bottom: 35px">
  <div *ngFor="let myEvent of _events" [style.width]="_percentWidth+'%'" [className]="myEvent.styleClass">
      <div class="iti-timeline-event haveEvent" *ngIf="myEvent.eventType !== 0"></div>
      <div class="iti-timeline-event" *ngIf="myEvent.eventType === 0"></div>

      <div class="iti-timeline-event-content" *ngIf="myEvent.eventType !== 0">
          {{myEvent.eventDate | date: 'dd/MM/yyyy' }}
      </div>

      <div class="iti-timeline-event-content iti-timeline-event-content-title" *ngIf="myEvent.eventType !== 0">
          {{myEvent.title}}
      </div>

  </div>
</div>

